/* Catppuccin Mocha Rosewater userChrome.css*/

@media (prefers-color-scheme: dark) {
  :root {
    --zen-colors-primary: #1f1d2e !important;
    --zen-primary-color: #907aa9 !important;
    --zen-colors-secondary: #1f1d2e !important;
    --zen-colors-tertiary: #191724 !important;
    --zen-colors-border: #907aa9 !important;
    --toolbarbutton-icon-fill: #907aa9 !important;
    --lwt-text-color: #e0def4 !important;
    --toolbar-field-color: #e0def4 !important;
    --tab-selected-textcolor: rgb(225, 219, 232) !important;
    --toolbar-field-focus-color: #e0def4 !important;
    --toolbar-color: #e0def4 !important;
    --newtab-text-primary-color: #e0def4 !important;
    --arrowpanel-color: #e0def4 !important;
    --arrowpanel-background: #191724 !important;
    --sidebar-text-color: #e0def4 !important;
    --lwt-sidebar-text-color: #e0def4 !important;
    --lwt-sidebar-background-color: #11111b !important;
    --toolbar-bgcolor: #1f1d2e !important;
    --newtab-background-color: #191724 !important;
    --zen-themed-toolbar-bg: #191724 !important;
    --zen-main-browser-background: #191724 !important;
  }

  #permissions-granted-icon {
    color: #191724 !important;
  }

  .sidebar-placesTree {
    background-color: #191724 !important;
  }

  #zen-workspaces-button {
    background-color: #191724 !important;
  }

  #TabsToolbar {
    background-color: #191724 !important;
    /* added to move the tabs container up (below the url bar)*/

    position: relative;
    min-height: 99% !important;
    top: -10px;
  }

  #urlbar-background {
    background-color: #191724 !important;
  }

  .content-shortcuts {
    background-color: #191724 !important;
    border-color: #907aa9 !important;
  }

  .urlbarView-url {
    color: #907aa9 !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #11111b !important;
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {

      &:is([open], [checked])> :is(.toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack) {
        fill: #11111b;
      }
    }
  }
}

@-moz-document domain(google.com.br), domain(google.com) {
}

@media not (-moz-bool-pref: "zen.view.compact") {
  @media not (-moz-bool-pref: "zen.tabs.vertical.right-side") {
    .titlebar-buttonbox-container {
      position: absolute;
      width: 100vw;
      left: 0;
      display: flex !important;
      padding: 6px 3px 3px 5px;
    }

    .titlebar-buttonbox {
      position: absolute;
      left: 0px;
      bottom: 40px;
      display: flex;
      margin-right: 20px;
    }

    .titlebar-button {
      padding: 0px !important;
      min-height: 13px !important;
      min-width: 13px !important;
      align-self: center;
      margin-left: 6px !important;
      border-radius: 50px;
      transition: all 100ms;
    }

    .titlebar-min {
      background-color: hsl(130, 50%, 40%) !important;
    }

    .titlebar-max,
    .titlebar-restore {
      background-color: hsl(60, 50%, 50%) !important;
    }

    .titlebar-close {
      background-color: hsl(0, 50%, 50%) !important;
    }

    .titlebar-button>image {
      visibility: collapse !important;
    }

    @media (-moz-bool-pref: "theme.zen-minimal-exit-menu.enable-macos-identic") {
      .titlebar-button:hover {
        opacity: 0.25 !important;
      }
    }

    @media not (-moz-bool-pref: "theme.zen-minimal-exit-menu.enable-macos-identic") {
      .titlebar-button {
        background-color: var(--zen-colors-border) !important;
      }

      .titlebar-min:hover {
        background-color: hsl(130, 50%, 40%) !important;
      }

      .titlebar-max:hover,
      .titlebar-restore:hover {
        background-color: hsl(60, 50%, 50%) !important;
      }

      .titlebar-close:hover {
        background-color: hsl(0, 50%, 50%) !important;
      }

      .titlebar-button:hover {
        min-height: 20px !important;
      }
    }

    #zen-appcontent-wrapper {
      overflow: visible;
    }

    #TabsToolbar {
      padding-top: 38px;
      margin-top: 28px;
    }

    .browserContainer {
      box-shadow: 0 0px 5px 2px rgb(0 0 0 / 0.1);
    }

    #zen-appcontent-navbar-container {
      container-type: inline-size;
      height: var(--zen-element-separation);
      z-index: 1;
    }

    #nav-bar {
      --sidebar-width: calc(100vw - 100cqw);
      width: var(--sidebar-width);
      container-name: sidebar;
      container-type: inline-size;
      overflow: visible !important;
      position: fixed !important;
      right: calc(100cqw);
    }

    #nav-bar .chromeclass-toolbar-additional:not(#PersonalToolbar,
      #personal-bookmarks,
      #back-button,
      #forward-button,
      #stop-reload-button,
      #unified-extensions-button) {
      display: none;
    }

    @media (-moz-bool-pref: "ark-left.maintain-default-sidebar-width") {
      #navigator-toolbox {
        min-width: 215px !important;
        max-width: 215px !important;
      }

      #zen-sidebar-splitter {
        pointer-events: none;
      }
    }

    #zen-expand-sidebar-button,
    #zen-profile-button,
    .zen-sidebar-action-button {
      display: none;
    }

    #PanelUI-button {
      opacity: 0%;
      pointer-events: none;
    }

    #back-button,
    #forward-button,
    #stop-reload-button,
    #unified-extensions-button {
      position: fixed;
      top: var(--zen-element-separation);
      z-index: 1;
      pointer-events: auto !important;
    }

    #back-button {
      right: 60px;
    }

    #forward-button {
      right: 55px;
      display: none;
    }

    #stop-reload-button {
      right: 30px;
    }

    #unified-extensions-button {
      right: 0px;
    }

    #personal-bookmarks {
      top: 25px;
      right: -7px;
      /* visibility of the bookmarks bar set to none.*/
      visibility: none;
      display: none;
    }

    @container sidebar (max-width: 185px) {
      #stop-reload-button {
        visibility: hidden;
      }

      #back-button {
        right: 35px;
      }

      #forward-button {
        right: 15px;
        display: none;
      }
    }

    #PersonalToolbar {
      display: none !important;
    }

    #urlbar-container {
      position: fixed !important;
      /* moved the url container up. */
      top: 45px;
      left: 3px;
      width: calc(100% - 10px) !important;
      visibility: visible !important;
      opacity: 1 !important;
      z-index: 1;
    }

    #urlbar-input {
      padding-left: 10px !important;
    }

    #zen-appcontent-wrapper {
      overflow: visible !important;
    }

    #navigator-toolbox {
      padding-top: 40px !important;
    }

    #urlbar {
      height: 35px;
      border-radius: 10px !important;
      border: 0px solid var(--zen-colors-border) !important;
      box-shadow: 0 0px 11px 1px rgb(0 0 0 / 0.3) !important;
    }

    #urlbar:not([focused="true"]):not([breakout-extend="true"])>#urlbar-background {
      background: color-mix(in srgb,
          var(--tab-hover-background-color) 10%,
          transparent) !important;
    }

    .urlbarView-body-outer,
    .urlbarView-body-inner {
      box-sizing: border-box;
    }

    #urlbar-input {
      font-weight: 400;
      font-size: 0.95em;
      padding-left: 10px;
      color: color-mix(in srgb, currentColor 65%, transparent);
    }

    #urlbar [id$="-box"] {
      display: none;
    }

    @media (-moz-bool-pref: "ark-left.hide-http-warning-icon") {
      #urlbar [id$="-box"]:has(#identity-icon[tooltiptext="Connection is not secure"]) {
        display: inherit;

        margin-right: 0px !important;
      }
    }

    label[value="Not Secure"] {
      display: none;
    }

    #identity-icon[tooltiptext="Connection is not secure"] {
      color: #d46955;
    }

    #urlbar [id$="-button"]:not(#reader-mode-button, #picture-in-picture-button) {
      display: none;
    }

    #urlbar [id$="-container"] {
      display: none;
    }

    #nav-bar #PanelUI-button {
      position: absolute;

      top: var(--zen-element-separation);

      left: 248px !important;
    }

    #unified-extensions-panel {
      animation: ease-in-out;

      transition-duration: 0.13s;
    }

    #customizationui-widget-panel {
      border-radius: var(--zen-border-radius);

      animation: ease-in-out;

      transition-duration: 0.13s;
    }

    #window-modal-dialog {
      height: 100vh;

      max-height: 100%;
    }

    #window-modal-dialog .dialogTemplate {
      position: absolute;

      top: 50%;

      left: 50%;

      transform: translate(-50%, -50%);
    }

    #window-modal-dialog .dialogBox {
      &:not(.spotlightBox) {
        box-shadow: 0 0px 35px 35px rgb(0 0 0 / 0.2);
      }
    }

    #urlbar-container:has(> #urlbar[open]) {
      #urlbar {
        left: 0;

        top: 0;

        width: 760px;

        overflow: hidden !important;

        box-shadow: 0 0px 11px 1px rgb(0 0 0 / 0.5) !important;
      }

      #urlbar-input {
        font-size: 1.2em;

        color: unset;
      }

      .urlbar-input-container {
        height: 50px;
      }

      .urlbarView-row {
        height: 50px;
      }

      .urlbar-go-button {
        display: none;
      }

      .urlbarView-row-inner {
        flex-wrap: unset;

        font-weight: 300 !important;

        font-size: 0.98em;
      }

      .urlbarView-row-inner strong {
        font-weight: unset !important;
      }

      .urlbarView-no-wrap {
        flex-basis: unset;

        font-size: inherit;
      }

      .urlbarView-title-separator {
        color: color-mix(in srgb, currentColor 30%, transparent);
      }

      .urlbarView-url {
        --urlbarView-second-line-indent: 15px;

        font-size: inherit;

        color: color-mix(in srgb, currentColor 30%, transparent);
      }

      .urlbar-background {
        padding-left: 100px !important;
      }
    }
  }

  #unified-extensions-view {
    --uei-icon-size: 24px;

    --extensions-in-row: 4;

    width: 100% !important;

    :is(toolbarseparator,
      .unified-extensions-item-menu-button.subviewbutton,
      .unified-extensions-item-action-button .unified-extensions-item-contents,
      #unified-extensions-description,
      .panel-header) {
      display: none !important;
    }

    :is(#overflowed-extensions-list,
      #unified-extensions-area,
      .unified-extensions-list) {
      display: grid !important;

      grid-template-columns: repeat(var(--extensions-in-row), auto);

      justify-items: center !important;

      align-items: center !important;
    }

    :is( :is(#unified-extensions-area, .unified-extensions-list) .unified-extensions-item,
      .unified-extensions-list) {
      max-width: max-content;
    }

    #unified-extensions-area {
      margin-bottom: 5px !important;

      border-top: 1px solid var(--panel-separator-color);

      border-bottom: 1px solid var(--panel-separator-color);

      padding-top: 5px !important;

      padding-bottom: 5px !important;

      display: none;
    }

    .unified-extensions-item[attention]>.unified-extensions-item-action-button.subviewbutton {
      background-position: left calc(var(--uei-dot-horizontal-position-in-panel) - 4px) bottom var(--uei-dot-vertical-position-in-panel) !important;
    }

    .unified-extensions-item-action-button {
      padding-right: 3px !important;
    }
  }

  #statuspanel {
    display: none !important;
  }
}
